@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: url(../images/tiles.png);
    background-size: auto;
    background-position: center center;
    height: calc(100vh - 80px);
}

header {
    width: 100%;
    position: fixed;
}

header nav {
    background: #024959;
}

.menu_bar {
    display: none;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #037E8C;
    transition: all .5s;
}

section {
    padding: 20px;
}

ul {
    text-align: center;
    transition: all .5s;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        /*top:0px;*/
        overflow: auto;
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #024959;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    main {
        flex-wrap: wrap;
        align-content: center;
    }

    aside,
    .section_container {
        width: auto;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 75px;
}

.section_container {
    width: 800px;
    margin: 10px;
    background-color: bisque;
    border: 1px solid black;
}

aside {
    background-color: rgb(173, 171, 171);
    width: 500px;
    margin: 10px;
    box-shadow: 2px 2px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

aside>h2 {
    margin: 10px;
    text-decoration: underline;
}

section>h1 {
    padding: 10px;
}

/* VIDEO TAGS */
.tag_container {
    width: 100%;
    margin: 20px 10px 20px 10px;
}

.tag_activo {
    background-color: rgb(128, 123, 123);
}

.tag {
    border-radius: 45px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    height: 21px;
    margin-top: 10px;
    display: inline-flex;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.tag:hover {
    background: white;
    color: black;
    transition: all .5s;
}

.iframe_container {

    text-align: center;
    border-top: 1px solid #000;
    margin-top: 20px;
    ;
}

.iframe {
    padding: 10px;
}

/* END VIDEO TAGS */


/*GAME OF LIFE*/
.gameoflife_controls {
    padding: 20px 0px;
}

button {
    color: white;
    background-color: #037E8C;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    margin: 5px 20px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

button:hover {
    background-color: #024959;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.hide{
    display:none;
}